
.edi {margin-bottom: 1em; width: 100%;}

.myContentClass {background-color: #aaccee66;}

/* Bubble decoration */
.cursorDecoration {
	position: relative;
	box-shadow: -2px 0px 0px 0px #aaa, -2px 0px 0px 0px #aaa;
}
.cursorDecoration::before {
	position: absolute;
	top: -0.1em;
	left: -0.75em;
	font-size: 0.45em;
	width: 1.5em;
	height: 1.05em;
	line-height: 1;
	background-color: #000;
	outline: 0em solid #aaa;
	text-align: center;
	border-radius: 2px;
	content: "?";
}